{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block header %}
    <div class="archive-container">
        <div class="container content archive">
            <img src="{{ SITEURL }}/images/{{ NEST_TOP_IMAGE }}" style="margin:0;" alt="">
        </div>
{% endblock header %}

{% block content %}
    {% if DEFAULT_PAGINATION %}

    <div class="archive-container">
        <div class="container content archive">
            <h2>PyData.Okinawa は Python + Data に興味のある方が交流できる沖縄を拠点にしたコミュニティです</h2>
            <p>
                データから新しい価値を生み出したいという想いがあれば、どのようなバックグラウンドを持った方でも自由に参加できるオープンなコミュニティです。 沖縄で定期的に開催される勉強会ではPythonをメインな言語として使いますが、機械学習やデータアナリティクスに興味を持つ方であればどのような言語を使うプログラマの方でも参加可能です。

                またハードルは高いかもしれませんが、これからPythonプログラミングを覚えたい初心者の方も大歓迎です。

                沖縄県外のコミュニティとも積極的に交流しながら、次の世代をインスパイアするような新しい価値を生み出していくことがPyData.Okinawaの成功の姿です。
            </p>
        </div>
    </div>

    <div class="archive-container">
        <div class="container content archive">
            <h2><a href="{{ SITEURL }}/{{ articles_page.url }}">{{ NEST_INDEX_CONTENT_TITLE }} {% if articles_page.has_previous() %}<small>- page {{ articles_page.number }}</small>{% endif %}</a></h2>
            <dl class="dl-horizontal">
                {% for article in articles_page.object_list %}
                <dt>{{ article.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    {% include 'pagination.html' %}
    {% else %}
    <div class="archive-container">
        <div class="container content archive">
            <h2><a href="{{ SITEURL }}/">{{ NEST_INDEX_CONTENT_TITLE }}</a></h2>
            <dl class="dl-horizontal">
                {% for article in articles %}
                <dt>{{ article.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    {% endif %}
{% endblock content %}

